
/*************************
*******Typography******
**************************/
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Inter:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);

body {
  font-family: 'PT Sans', sans-serif;
  background:#fff;
  position: relative;
  font-weight:400;
}

ul li {
  list-style: none;
}

a:hover {
outline: none;
text-decoration:none;
}

a:focus {
  outline:none;
  outline-offset: 0;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

.btn:hover, 
.btn:focus{
  outline: none;
  box-shadow: none;
}

.navbar-toggle {
  background-color: #000;
}

a#scrollUp {
  bottom: 0px;
  right: 10px;
  padding: 5px 10px;
  background: #FE980F;
  color: #FFF;
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 2s ease infinite;
}

a#scrollUp i{
  font-size: 30px;
}




/*************************
*******Header CSS******
**************************/
.row{
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 7px 0 7px 0;
}

.logo{
  display: flex;
    padding-left: 24px;
    padding-right: 24px;
    gap: 8px
}
.logo-name{
    margin: 5px;
}
.logo-img{

}
.my-btn{
    background-color: white;
    border-radius: 8px;
    border: 1px solid #73AFF4;
}
.left-sidebar {
    display: flex;
    justify-content: space-between;
    padding-right: 24px;
}
.my-input{
    width: 100%;
    border-radius: 4px;
    border: 1px solid #D5D5D5;
    background: #FFF;
}
.my-navbar{
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
}
.my-drawer{
  display: none;
}
.drawer-filter{
  display: none;
}
.shop-menu ul li {

}



.shop-menu ul li a {
  background: #FFFFFF;
  color: #393939;
    font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
    font-style: normal;
    line-height: normal;

}


.v-list{
    padding: 8px;
}
.v-list-item{
    padding-left: 24px;
}
.v-card-title{
    font-family: 'PT Sans', 'sans-serif';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    display: flex;
    justify-content: center;
}
.v-input__control{
    padding: 8px;
}
.shop-menu ul li a:hover {
	color: #382915;
	background:#fff;
}

.my-brand{
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
}
.my-search{
  padding: 8px;
}
.v-selection-control{
  display: flex;
}
.v-label{
  margin-bottom: 0;
  padding-left: 8px;
}
.navbar-collapse.collapse{
  padding-left: 0;
}
.image-layer{
  height: 200px;
  background-color:#F8F8FA;;
}
.image-product{
  padding: 9% 41%;
  opacity: 0.5;
}
.brands{
  padding-left: 8px;
}
.brand-s{
  display: flex;
  color: #AAAAAA;
  padding-left: 8px;
}
.price{
  justify-content: flex-start;
  padding-left: 14px
}
.buy{
  margin-top: 25px;
  margin-left: 14px;
}
.my-prop{
  padding-left: 8px;
  display: flex;
  margin-top: 6px;
}
.mainmenu ul li{
  padding-right: 15px;
  padding-left: 15px;
}

.mainmenu ul li:first-child{
  padding-left: 0px;
}
.hot{
  margin-left: 5%;
  margin-top: 5%;
}
.sale-badge{
  margin-left: 5%;
  margin-top: -5%;
}
.price-input{
  border-radius: 4px;
  border: 1px solid #D5D5D5;
  background: #FFF;
  width: 45%;
}
.price-range{
  display: flex;
  justify-content: space-around;
}

.padding-right {
  padding-right: 0;
}

.features_items{
	overflow:hidden;
}

.product-details{
	overflow:hidden;
}

.product-details {
  margin-bottom: 40px;
  overflow: hidden;
  margin-top: 10px;
}





