/* lg */ 
@media (min-width: 1440px) {
	.left-sidebar{
		justify-content: space-around;
	}
	.search-header{
		width: 41.66666666666667%;
	}
	.rigth-side-header{
		width: 41.66666666666667%;
	}
	.image-product{
		padding: 15% 37%;
	}
	.brands{
		padding-left: 0;
	}
	.brand-s{
		padding-left: 0;
	}
	.my-prop{
		padding-left: 0;
	}
	.price{
		padding-left: 0;
	}
	.buy{
		margin-left: 0;
		margin-bottom: 25px;
	}
}

@media (max-width: 375px) {
.left-sidebar{
	display: none;
}
.search-header{
	display: none;
}
.rigth-side-header{
	display: none;
}
.my-drawer{
	display: flex;
	justify-content: space-around;
}
.filters{
	display: none;
}
.my-product{
	margin-bottom: 10%;
}
.image-product{
	padding: 25% 29%;
}
.brands{
	padding-left: 0;
}
.brand-s{
	padding-left: 0;
}
.my-prop{
	padding-left: 0;
}
.price{
	padding-left: 0;
}
.buy{
	margin-left: 0;
}
.drawer-filter{
	display: block;
	margin-top: -12%;
	margin-right: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
}
.btn-group.pull-right, 
.footer-bottom .pull-left, 
.footer-bottom .pull-right, 
.mainmenu.pull-left,
.media.commnets .pull-left,
.media-list .pull-left{
	float: none !important;
}



.contactinfo .nav.nav-pills, .social-icons .nav.navbar-nav{
	display: inline-block;
}

.logo{
	text-align: center;
	width: 100%;
}

.shop-menu ul li {
	padding: 0;
}


.nav.navbar-nav > li:hover > ul.sub-menu{
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none;
  box-shadow: none;
}


.item{
	padding-left: 0;
}

.item h1{
	font-size: 30px;
	margin-top: 0;
}

.item h2{
	font-size: 20px;
}
}